.main{
    height: 100%;
    width: 100%;
}
.searchBar{
    display: inline-block;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    outline: none;
}
.img{
    height: 42px;
    width: 42px;
    margin-right: 10px;
}
.search{
    width: 50%;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
}
.searchBtn{
    background-color: dodgerblue;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    height: 45px;
    margin: 0px 10px;
    outline: none;
}
.searchBtnDisabled{
    background-color: lightblue;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    height: 45px;
    margin: 0px 10px;
    outline: none;
}
.github{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 20px;
}


@media only screen and (max-width: 1200px) {
    .github{
        display: block;
    }
}
@media (max-width: 1080px) { 
    .img{
        width: 5.4%;
        height: 5.4%;
        margin-top: -8px;
    }
    .search{
        width: 60%;
        height: 50px;
        font-size: 1.5rem;
    }
    .searchBtn, .searchBtnDisabled{
        width: 25%;
        height: 50px;
        font-size: 1.2rem;
    }
}
@media (max-width: 870px){
    .img{
        width: 6.4%;
        height: 6.4%;
    }
}
@media (max-width: 740px){
    .img{
        width: 7.4%;
        height: 7.4%;
    }
}
@media (max-width: 640px){
    .img{
        width: 8.4%;
        height: 8.4%;
    }
}
@media (max-width: 540px){
    .img{
        width: 9.4%;
        height: 9.4%;
    }
    .searchBtn, .searchBtnDisabled{
        margin-top: 10px;
    }
}